body {
  background-image: url("../images/sti.jpg");
  background-repeat: no-repeat;
  background-size: stretch;
}

#title {
  font-size: 80px;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 20px;
  background: -webkit-linear-gradient(bottom, rgb(0, 0, 0), rgb(253, 249, 2));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#start {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#altcontainer {
  font-size: 20px;
  text-align: left;
  margin: 5%;
  background-color: rgb(2, 2, 2);
  opacity: 0.7;
  color: white;
}

h2 {
  background-color: rgb(2, 2, 2);
  opacity: 0.7;
  color: white;
}

#question {
  background-color: rgb(2, 2, 2);
  opacity: 0.7;
  color: white;
}



h3 {
  background-color: rgb(0, 0, 0);
  opacity: 0.5;
  color: gold;
}

hr {
  border: 2px solid gold;
}

#done {}